@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;

}
/* header start */
header{
    height: 837px;
    /* border: 1px solid red; */
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 20px 0px 150px 30px;
    
}


/* external styles start */
.dark-2{
    color: rgba(71, 71, 71);
}
.btn-primary{
    background-color: rgb(253, 110, 10);
    color: white;
    padding: 17px 33px;
    font-size: 16px;
    /* border: none; */
    border-style: none;
    border-radius: 5px;
}
.btn-secondary{
    
    color: rgb(253, 110, 10);
    background-color: white;
    padding: 16px 20px;
    font-size: 16px;
    /* border: none; */
    border: 1px solid rgb(253, 110, 10);
    border-radius: 5px;
}
/* external styles end */



/* nav area start */

h3{
    font-size: 45px;
}
.r{
    color: rgb(253, 110, 10);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 30px 30px 10px 150px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    display: flex;
    
}
nav ul li a{
    text-decoration: none;
    /* background-color: antiquewhite; */
    padding: 17px 10px;
    text-align: center;
    
}

/* nav area end */

/* header content */
.header-mid-area{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.header-content{
    /* background-color: blueviolet; */
    margin: 8% 1% 10% 12%;
    text-align: left;
    
    
}

h1{
    font-size: 85px;
    font-weight: bold;
}
.header-content h3{
    font-size: 45px;
    font-weight: 600;
}
.header-content button{
    margin-top: 15px;
    margin-right: 8px;
    
}
p{
    padding-top: 10px;
    color: #757575;
    font-size: 16px;
    
    
}

/* header images */
.header-images{
    /* background-color: aqua; */
    /* width: 580px; */
}


/* About sesction start */
.about{
    height: 550px;
    width: 1150px;
    background-color: #FFF8F3;
    margin: auto;
    border: 1px solid #FFF8F3;
/* border problem */

}
.about-center{
    height: 287px;
    width: 827px;
    background-color: white;
    /* margin: auto; */
    
    
    margin: 150px;
    
    border: 1px solid black;
}
.about-content{
    text-align: center;
    
}
.about-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/* About section end */



/* What I do section start */

.what-i-do{
    text-align: center;
    padding-top: 150px;
    width: 1100px;
    height: 200px;
    margin: auto;
}


/*  What I do section end */


/* experiance section */

.experiance{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.box{
    width: 220px;
    height: 290px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    /* margin-right: 10px; */
    /* border: 1px solid rgb(92, 8, 8); */
    padding: 30px 25px;
    
}
.box h4{
    padding-top: 30px;
}
.box p{
    padding-top: 30px;
    text-align: left;
    word-spacing: 6px
    
}


/* experiance section  end*/

/* resume section start here */

.resume{
    
    width: 1140px;
    height: 716px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
.resume h3{
    margin-top: 80px;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
}
.summary{
    margin-top: 80px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    
    
}
.bold{
    font-size: 25px;
    font-weight: bold;
}
.dark-3-semibold{

    font-size: 20px;
    font-weight: 400;
}
.dark-3-small{
    font-size: 16px;
}
.resume-section1{
    width: 40%;

}
.resume-section-0_1{

}
.resume-section1 div h3, h4, h5, p{
    padding-top: 15px;
}
.resume-section1 div h3{
    padding-bottom: 20px;
}
hr{
    margin-top: 15px;
    width: 110%;
}
.resume-cv{
    display: block;
    margin: auto;
    margin-top: 40px;
}

/* resume end */



/* footer start */

footer{

    margin-top: 100px;
    display: flex;
    height: 690px;
    background-color:  #FFF8F3;
}
.footer1{

    width: 50%;
    
    
}
.footer1 h3{
    margin-top: 250px;
    
    font-size: 35px;
}

.footer1 h3, .peragraph, .icone{
    padding-top: 10px;
    margin-left: 125px;
}
.footer2{

    width: 50%;
}

.footer2 >h3{
    margin: 90px auto 30px 50px ;
    font-size: 35px;
}


/* form */

.form-puron-koro{
    margin: 10px auto 10px 50px;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}
.footer-button{
    margin: 10px auto 10px 50px;
}