@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;

}
/* header start */
header{
    height: 837px;
    /* border: 1px solid red; */
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 20px 0px 150px 30px;
    
}


/* external styles start */
.dark-2{
    color: rgba(71, 71, 71);
}
.btn-primary{
    background-color: rgb(253, 110, 10);
    color: white;
    padding: 17px 33px;
    font-size: 16px;
    /* border: none; */
    border-style: none;
    border-radius: 5px;
}
.btn-secondary{
    
    color: rgb(253, 110, 10);
    background-color: white;
    padding: 17px 20px;
    font-size: 16px;
    /* border: none; */
    border: 1px solid rgb(253, 110, 10);
    border-radius: 5px;
}
/* external styles end */



/* nav area start */

h3{
    font-size: 45px;
}
.r{
    color: rgb(253, 110, 10);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 30px 30px 10px 150px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    display: flex;

}
nav ul li a{
    text-decoration: none;
    /* background-color: antiquewhite; */
    padding: 17px 10px;
    text-align: center;
    
}

/* nav area end */

/* header content */
.header-mid-area{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.header-content{
    /* background-color: blueviolet; */
    margin: 8% 10% 10% 12%;
    text-align: left;


}

h1{
    font-size: 85px;
    font-weight: bold;
}
.header-content h3{
    font-size: 45px;
    font-weight: 600;
}
.header-content button{
    margin-top: 15px;
    margin-right: 8px;

}
p{
    padding-top: 10px;
    color: #757575;
    font-size: 18px;
    

}

/* header images */
.header-images{
    /* background-color: aqua; */
    /* width: 580px; */
}


/* About sesction start */
.about{
    height: 550px;
    width: 1150px;
    background-color: #FFF8F3;
    margin: auto;
    border: 1px solid #FFF8F3;
/* border problem */

}
.about-center{
    height: 287px;
    width: 827px;
    background-color: white;
    /* margin: auto; */
    
    
    margin: 150px;
    
    border: 1px solid black;
}
.about-content{
    text-align: center;

}
.about-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/* About section end */



/* .box1{
    height: 500px;
    width: 700px;
    background-color: aqua;
    margin: auto;
}
.box2{
    height: 400px;
    width: 300px;
    background-color: rgb(177, 116, 37);
    margin: auto;
} */